---
import Layout from '../layouts/Layout.astro'
import pentagramImage from '../assets/images/pentagram.webp'
import opusEponymous from '../assets/images/albums/opus_eponymous.webp'
import prequelle from '../assets/images/albums/prequelle.webp'
import meliora from '../assets/images/albums/meliora.webp'
import infestissumam from '../assets/images/albums/infestissumam.webp'
import impera from '../assets/images/albums/impera.webp'
import { Image } from '@astrojs/image/components'

---

<Layout title="Welcome to Astro.">
	<div class="pt-96 w-screen flex justify-center items-center">
		<div class="relative w-[50%]">
			<Image class="blur-[1px] max-w-none w-full" src={pentagramImage} alt="pentagram image" />

			<div class="absolute w-[22%] -top-[10%] left-[50%] -translate-x-[50%]">
				<Image class="max-w-none w-full shadow-album" src={opusEponymous} alt="opus_eponymous album cover image" />
			</div>

			<div class="absolute w-[22%] top-[28%] -right-[8%]">
				<Image class="max-w-none w-full shadow-album" src={infestissumam} alt="infestissumam album cover image" />
			</div>

			<div class="absolute w-[22%] top-[78%] right-[8%]">
				<Image class="max-w-none w-full shadow-album" src={meliora} alt="meliora album cover image" />
			</div>

			<div class="absolute w-[22%] top-[78%] left-[6%]">
				<Image class="max-w-none w-full shadow-album" src={prequelle} alt="prequelle album cover image" />
			</div>

			<div class="absolute w-[22%] top-[28%] -left-[8%]">
				<Image class="max-w-none w-full shadow-album" src={impera} alt="impera album cover image" />
			</div>
		</div>
	</div>
	<h1 class="font-cinzel text-3xl font-normal">Prequelle</h1>
</Layout>
