---
import Layout from '../layouts/Layout.astro'
import pentagramImage from '../assets/images/pentagram.webp'
import opusEponymous from '../assets/images/albums/opus_eponymous.webp'
import prequelle from '../assets/images/albums/prequelle.webp'
import meliora from '../assets/images/albums/meliora.webp'
import infestissumam from '../assets/images/albums/infestissumam.webp'
import impera from '../assets/images/albums/impera.webp'
import Album from '../components/Album/index.astro'
import AlbumInfo from '../components/AlbumInfo/index.astro'
import { Image } from '@astrojs/image/components'
import { GHOST_ALBUMS } from '../constants'
---

<Layout title="Welcome to Astro.">
	<div class="background-blob absolute blur-[140px] -top-24 -left-44 w-[65%] h-[80%] opacity-70 rounded-full" />
	<div class="background-blob absolute blur-[140px] top-16 right-10 w-[50%] h-[75%] rounded-full" />
	<div class="background-blob absolute blur-[140px] -bottom-[30%] left-[30%] w-[460px] h-[80%] rounded-full" />
	<div class="background-blob absolute blur-[140px] -bottom-36 right-[0%] w-[460px] h-[80%] rounded-full" />
	<div class="background-blob absolute blur-[140px] -bottom-36 left-[0%] w-[460px] h-[80%] rounded-full" />

	<div class="relative backdrop-blur-md min-h-screen w-screen flex flex-row-reverse justify-center items-center">
		<div id="albums_info_container" class="absolute min-h-screen w-0 pt-40 flex justify-start items-start">
			<ul class="albums">
				{GHOST_ALBUMS.map(({ id, name, songs }) => (
					<AlbumInfo id={id} name={name} songs={songs} />
				))}
			</ul>
		</div>
		<div id="pentagram-container" class="z-10 flex items-center justify-center h-full relative w-[40%]">
			<Image id="pentagram-image" class="blur-[2px] max-w-none w-full" src={pentagramImage} alt="pentagram image" />

			<Album
				albumId="opus_eponymous"
				className="absolute w-[22%] -top-[10%] left-[50%] -translate-x-[50%]"
				imageSrc={opusEponymous}
				imageAlt="opus_eponymous album cover image"
			/>

			<Album
				albumId="infestissumam"
				className="absolute w-[22%] top-[28%] -right-[8%]"
				imageSrc={infestissumam}
				imageAlt="infestissumam album cover image"
			/>

			<Album
				albumId="meliora"
				className="absolute w-[22%] top-[78%] right-[8%]"
				imageSrc={meliora}
				imageAlt="meliora album cover image"
			/>

			<Album
				albumId="prequelle"
				className="absolute w-[22%] top-[78%] left-[6%]"
				imageSrc={prequelle}
				imageAlt="prequelle album cover image"
			/>

			<Album
				albumId="impera"
				className="absolute w-[22%] top-[28%] -left-[8%]"
				imageSrc={impera}
				imageAlt="impera album cover image"
			/>
		</div>
	</div>

</Layout>
