---
import Layout from '../layouts/Layout.astro'
import pentagramImage from '../assets/images/pentagram.webp'
import opusEponymous from '../assets/images/albums/opus_eponymous.webp'
import prequelle from '../assets/images/albums/prequelle.webp'
import meliora from '../assets/images/albums/meliora.webp'
import infestissumam from '../assets/images/albums/infestissumam.webp'
import impera from '../assets/images/albums/impera.webp'
import Album from '../components/Album/index.astro'
import { Image } from '@astrojs/image/components'
---

<Layout title="Welcome to Astro.">
	<div class="pt-96 w-screen flex justify-center items-center">
		<div class="relative w-[50%]">
			<Image class="blur-[1px] max-w-none w-full" src={pentagramImage} alt="pentagram image" />

			<Album
				albumId="opus_eponymous"
				className="absolute w-[22%] -top-[10%] left-[50%] -translate-x-[50%]"
				imageSrc={opusEponymous}
				imageAlt="opus_eponymous album cover image"
			/>

			<Album
				albumId="infestissumam"
				className="absolute w-[22%] top-[28%] -right-[8%]"
				imageSrc={infestissumam}
				imageAlt="infestissumam album cover image"
			/>

			<Album
				albumId="meliora"
				className="absolute w-[22%] top-[78%] right-[8%]"
				imageSrc={meliora}
				imageAlt="meliora album cover image"
			/>

			<Album
				albumId="prequelle"
				className="absolute w-[22%] top-[78%] left-[6%]"
				imageSrc={prequelle}
				imageAlt="prequelle album cover image"
			/>

			<Album
				albumId="impera"
				className="absolute w-[22%] top-[28%] -left-[8%]"
				imageSrc={impera}
				imageAlt="impera album cover image"
			/>
		</div>
	</div>
	<h1 class="font-cinzel text-3xl font-normal">Prequelle</h1>
</Layout>
